{% extends "h:templates/layouts/kmass-account2.html.jinja2" %}

{% block page_content %}
<div>
  {% for table_row in table_results %}
    <a href="{{ request.route_url('process_flow', id=table_row['session_id'] )}}" > {{table_row['task_name']}} </a>
  {% endfor %}
</div>
{% endblock page_content %}