{% extends "h:templates/layouts/kmass-account2.html.jinja2" %}

{% block page_content %}
<div>
  <button onclick="capture_screen()">Capture Screen</button>
</div>
{% endblock page_content %}

<script>
  function capture_screen(){
    alert("Entro")
    const screenshotTarget = document.body;

    html2canvas(screenshotTarget).then((canvas) => {
      const base64image = canvas.toDataURL("image/png");
      print(base64image)
      window.location.href = base64image;});
  }

</script>