{% extends "h:templates/layouts/kmass-account2.html.jinja2" %}

{% block page_content %}
<script type="text/javascript">
  function capture_screen(){
    alert("Entro")
    const screenshotTarget = document.body;

    html2canvas(screenshotTarget).then((canvas) => {
      const base64image = canvas.toDataURL("image/png");
      print(base64image)
      window.location.href = base64image;});
  }

</script>
<div>
  <h3 id="demo" onclick="capture_screen()">Capture Screen</h3>
</div>
{% endblock page_content %}

